# GitHub Pages / Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby / Bundler
.ruby-version

# Node / Tooling
node_modules
.cache/
.vscode/
.idea/
*.log

# OS or Editor folders
.DS_Store
._*
Thumbs.db
*.swo
*.swp
*~
nbproject
*.sublime-project
*.sublime-workspace
.project
.settings
.tmproj
*.esproj

# Misc build/dev
Makefile
_config.dev.yml
*.gem
*.diff
*.err
*.orig
*.rej
*.zip
*.vi

# Obsidian / Makemd
.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/app.json
.makemd/
.trash/
.space
Tags
Vault.md

.DS_Store



# Komodo
*.komodoproject
.komodotools

# Validation reports
validation-status.json
validation-report.json

# Custom dirs
_gh_pages

# Project specific
.stylelintrc.json
_posts/_posts.md