<div class="sidebar sticky">
    <div itemscope itemtype="https://schema.org/Person">
        <div class="author__avatar">
            <img src="" alt="안녕" itemprop="image">
        </div>
        <div class="author__content">
            <h3 class="author__name" itemprop="name"></h3>
        </div>
        <div class="author__avatar">
            <p>반갑습니다 :)</p>
        </div>
    </div>
    <nav class="nav__list">
        <input id="ac-toc" name="accordion-toc" type="checkbox">
        <label for="ac-toc">카테고리 Click</label>
        <ul class="nav__list" id="category_tag_menu">
            <li>
                "📂"
                <span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    "전체 글 수"
                    <span style="font-family: 'Courier New', Courier, monospace;">
                        "871"
                        <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">개</span>
                    </span>
                </span>
            </li>
            <li>
                <span class="nav__sub-title">A</span>
                <ul>
                    <li>
                        <a href="/categories/A">A(164)</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/categories/B">A(164)</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/categories/C">A(164)</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/categories/D">A(164)</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/categories/E">A(164)</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    ::after
</div>