/* 웹폰트 적용 */
/* 영어: D2Coding */
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('D2Coding ligature Bold'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-bold-full.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-bold-full.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-bold-full.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

/* 영어: D2Coding */
@font-face {
  font-family: 'D2Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('D2Coding ligature Regular'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-full.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-full.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/fonts/d2coding-ligature-full.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A;
}

/* 한글: RIDIBatang-subset */
@font-face {
    font-family: 'RIDIBatang-subset';
    src: url('http://cdn.jsdelivr.net/gh/TetraTheta/RIDIBatang-subset/dist/webfont/RIDIBatang-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

.markdown-preview-section,
.markdown-source-view.mod-cm6 .cm-sizer {
    font-family: 'RIDIBatang-subset', 'D2Coding';
}

/* 행간 조절 */
.markdown-source-view.mod-cm6 .cm-line, 
.markdown-preview-view p{
    line-height: 200% !important;
}

/* 문단 간격 */
.markdown-source-view :is(.cm-line + .cm-line) {
    padding-top: 0.5em !important;
}

/* 편집기에서 헤더 줄만 행간을 더 촘촘하게 */
.markdown-source-view.mod-cm6 .cm-line.cm-header {
  line-height: 1.3 !important;
}

/* 헤더와 본문 간 간격 */
.markdown-preview-view h1, .markdown-preview-view h2,
.markdown-preview-view h3, .markdown-preview-view h4,
.markdown-preview-view h5, .markdown-preview-view h6 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}